<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roraima Trade Hub</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<body class="sell-page">
    <header class="header">
    {% include 'header.html' %}
</header>

    <main>
    <div class="container">
        <div class="welcome-column">
            <h2>Abra as Portas do seu Negócio para o Mundo</h2>
            <p>Ao se cadastrar no Roraima Trade Hub, você ganha uma vitrine digital para expor seus produtos e serviços ao mercado global. Nossa plataforma foi desenhada para impulsionar o comércio exterior, conectando sua empresa a compradores e oportunidades em todo o mundo. Junte-se a nós e amplie seus horizontes comerciais.</p>
        </div>

        <div class="actions-column">
            <a href="{% url 'registro' %}" class="cta-button full-width">Registre-se Agora</a>
            <a href="{% url 'login' %}" class="cta-button secondary full-width">Fazer Login</a>
            <a href="{% url 'comecar-a-exportar' %}" class="cta-button-outline">Quero Começar a Exportar</a>
            <a href="#" class="cta-button-outline">Perguntas Frequentes</a>
        </div>
    </div>
</main>

    <footer>
    {% include 'footer.html' %}
</footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>